.li-header-4 .header-bottom {
    background: #293a6c;
    border-top: 1px solid rgba(255,255,255,.1);
    color: #ffffff;
    margin-bottom: 0px;
}
.imgproduct{

    background-image: url('/storage/images/products/noimg.png');
    background-size: cover;
    
}
.Image-small
{
    border: 5px solid transparent;
}
